@{
    ViewData["Title"] = "Authors";
}

<div class="container">
    <div class="row">
        @foreach (var author in Model.Authors)
        {
            <form asp-controller="Author" asp-action="Details" asp-route-id="@author.Id">
                <button type="submit" class="btn-light" style="height:100px;width:250px;margin:10px">

                    @{
                        var pictureName = System.IO.Path.GetFileName(author.Picture);
                        var picturePath = $"AuthorPics/{System.Net.WebUtility.UrlEncode(pictureName)}";
                    }
                    <img src="@Url.Content(picturePath)" asp-append-version="true" width="75" height="75">

                    @author.DisplayMember
                </button>
            </form>
        }
    </div>
</div>