@{
    ViewData["Title"] = "Books";
}

<div class="container">
    <div class="row">
        @foreach (var book in Model.Books)
        {
            <form asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">
                <button type="submit" class="btn-outline-secondary text-left" style="height:100px;width:250px;margin:10px;overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">
                    @{
                        var pictureName = System.IO.Path.GetFileName(book.Picture);
                        var picturePath = $"Covers/{pictureName}";
                    }
                    <img src="@Url.Content(picturePath)" asp-append-version="true" width="50" height="75">

                    @book.DisplayMember
                </button>
            </form>
        }
    </div>
</div>