<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/styles.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Author" asp-action="Index">Authors</a> |
            <a asp-controller="Book" asp-action="Index">Books</a> |
            <a asp-controller="Publisher" asp-action="Index">Publishers</a> |
            <a asp-controller="Series" asp-action="Index">Series</a>
        </nav>
    </header>
    <section>
        @RenderBody()
    </section>
</body>
</html>
